@page "/"
@inject IJSRuntime _jsRuntime  
<PageTitle>Index</PageTitle>

<h1 id="ashkan">Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<button @onclick="ShowSwal" class="btn btn-warning">swal</button>
@code
{
    public async Task ShowSwal()
    {
        await _jsRuntime.InvokeVoidAsync("Swal.fire", "Hello world!");
    }
}
