@page "/"
@using FrestTemplate.Infra.JsServices.SweetAlert
@inject ISweetAlertService _sweetAlert

<PageTitle>Index</PageTitle>

<h1 class="text-danger" id="ashkan">شایان</h1>
<div class="row">
    <div class="col-md-6 col-lg-4 mb-3">
        <div class="card h-100">
            <img class="card-img-top" src="assets/img/elements/2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">عنوان کارت</h5>
                <p class="card-text">
                   این قسمت را بابا برای نشان دادن به شایان درست کرده است
                </p>
                <a href="javascript:void(0)" class="btn btn-outline-primary">گزینه نمایشی</a>
            </div>
        </div>
    </div>
</div>
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<button @onclick="ShowSwal" class="btn btn-success">swalSuccess</button>
@code
{
    public async Task ShowSwal()
    {

        await _sweetAlert.NotificationWithButton(SweetAlertType.Success, "شما موفق شدید!");
        //await _sweetAlert.NotificationWithButton(SweetAlertType.Success, "عملیات با موفقیت انجام شد", "عملیات موفقیت آمیز", "حله");
    }
}
