@page "/Admin/file-upload-2"
@using System.Globalization
@inject HttpClient Client
<h1>Welcome to C# Corner</h1>
<p>Learn how to upload a file from Blazor WebAssembly to the an ASP.NET Core Web API with progress</p>

<div class="row">
    <div class="col-4">
        <div class="form-group">
            <label>File</label>
            <ProgressiveInputFile @ref="InputFile" UploadUrl="http://localhost:36363/api/v1/File/PostSingleFile" ></ProgressiveInputFile>
            <p>0KB / 9,500KB</p>
        </div>
        <button @onclick="HandleUploadClick" class="btn btn-success btn-block m-1">Upload</button>
    </div>
</div>
@code{
    private ProgressiveInputFile InputFile;
    private async Task HandleUploadClick()
    {

        string accessToken = null;


        await InputFile.StartUploadAsync(accessToken);
    }

}