@page "/Admin/file-upload-2"
@using System.Globalization
@inject HttpClient Client
<h1>Welcome to C# Corner</h1>
<p>Learn how to upload a file from Blazor WebAssembly to the an ASP.NET Core Web API with progress</p>

<div class="row">

    <div class="col-md-4">
        <div class="input-group">
            <button @onclick="HandleUploadClick" class="input-group-text bg-success">آپلود</button>
            <ProgressiveInputFile id="inputGroupFile01" class="form-control" OnProgress="HandleOnProgress" MaxFileSize=Int64.MaxValue  @ref="InputFile" UploadUrl="http://localhost:36363/api/v1/File/PostSingleFile" ></ProgressiveInputFile>

        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style=@($"width: {progressPercent}%") aria-valuenow="@(progressPercent)" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

</div>
@code{
    private ProgressiveInputFile InputFile;

    private int progressPercent = 0;

    private async Task HandleUploadClick()
    {

        string accessToken = null;

        await InputFile.StartUploadAsync(accessToken);
    }

    private Task HandleOnProgress(UploadProgressEventArgs progress)
    {
        decimal prog = ((decimal)progress.UploadedBytes / progress.UploadSize) * 100;
        progressPercent = (int)prog;
        return Task.CompletedTask;

    }

}