@page "/Admin/Upload"
@inject IJSRuntime _Js
<div class="card">
    <h5 class="card-header">آپلود فایل</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="mb-3">
                    <label class="form-label" for="basic-default-fullname">گروه فایل را انتخاب کنید</label>

                    <select class="select2 form-control">
                        <option>شبکه</option>
                        <option>فناوران</option>

                    </select>
                </div>
            </div>
        </div>
        <form id="dropzone-basic" action="/postss" class="dropzone dz-clickable"></form>
        <form id="dropzone-multi" action="/postss" class="dropzone dz-clickable"></form>

    </div>

</div>



@code {



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
       await _Js.InvokeVoidAsync("import", "/assets/vendor/libs/dropzone/dropzone.js");
       await _Js.InvokeVoidAsync("import", "/Js/dropzone.js");
    }
}
